# misc
**/*.log
server/mods/deathmatch/logs/server.log
server/mods/deathmatch/logs/server_auth.log
server/mods/deathmatch/databases/system/stats.db
**/*.db
*.ddl
**/dumps/
**/backups/
**/logs/
**/resource-cache/
